@inherits LayoutComponentBase


<main>
    <header class="d-flex flex-wrap justify-content-center py-3 border-bottom">
        <div class="container">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none logo">
                <img src="img/logo-bf-orange.svg" class="bf-header-logo" alt="Basic-Fit" title="Basic fit log">
            </a>
        </div>
    </header>

     <div class="main-content">
        <div class="container pt-4">
            @Body
        </div>
    </div>

    <div id="blazor-error-ui">
        An unhandled error has occurred.
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>
</main>


